img{
	max-width: 100%;
}
h2{
	text-align: center;
	margin: 50px auto 30px;
}
.glyphicon{
	color: #18951e
}
.container-small{
	max-width: 500px;
	margin: 0 auto;
	margin-bottom: 70px;
}
.download{
	width: 1200px;
	margin: 6em auto
}
.download .header{
	margin-top: 20px;
}
#a1{
	padding: 0.5em;
	width: 16em;
	border: 1px solid #ccc;
	color: #456;
	background-color: #fff;
}
input{
	padding: 0.5em;
	border: 1px solid #ccc;
	background-color: #fff;
}
#a3{
	float: right;
}
.download #b1{
	width: 1200px;
	margin: 30px auto;
}
#b1 th,#b1 td{
	text-align: center;
	padding: 0.6em;
	border: 1px #333333b3 solid;
}
#add{
	font-size: 1.2em;
	margin: 20px auto;
	width: 350px;
	text-align: center;
}
#add input{
	background-color: #fff;
	height: 2em;
	width: 15em;
	padding: 0.2em;
	margin-top: 0.5em;
}
#add .abc{
	padding: 0.5em;
	width: 8em;
	height: auto;
}